.container-outer {
    height: 100vh;
    padding-top: 2rem;
    background-image:
        linear-gradient(to top, rgba(139, 69, 19, 0), rgba(139, 69, 19, 0)), url("../img/coffee_background.jpg");
    background-size: 300px auto;
    background-repeat: repeat;
}

.container-1 {
    padding: 2rem;
    background-color: rgba(139, 69, 19, 0.6);
}

.coffee {
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #ff0000;
    border: 1px solid rgb(66, 39, 28);
    box-shadow: 4px 4px 6px rgb(66, 39, 28);
    cursor: pointer;
}

.button:hover {
    background-color: #ff3030;
}

.button:active {
    background-color: #ff0000;
    box-shadow: inset 0 0 6px rgb(66, 39, 28);
}

.button-1 {
    width: 60px;
    height: 60px;
}

.inner {
    position: relative;
    display: flex;
    left: -30px;
    width: 70%;
    color: rgb(255, 255, 254);
    background-color: rgba(66, 39, 28, 0.8);
    border: 1px solid rgb(66, 39, 28);
}

.display {
    color: rgb(66, 39, 28);
    background-color: rgb(255, 228, 181);
    border: 3px double rgb(66, 39, 28);
}

.progress {
    background-color: rgb(255, 228, 181) !important;
    border: 1px solid rgb(66, 39, 28);
}

.progress-bar {
    background-color: rgba(66, 39, 28, 0.8) !important;
}

.label {
    box-sizing: border-box;
    color: rgb(255, 255, 254);
    background-color: rgba(66, 39, 28, 0.8);
    border: 1px solid rgb(66, 39, 28);
}

@media (max-width: 375px) {
    .ps-5 {
        padding-left: 1.5rem !important;
    }
    .coffee-size {
        display: none;
    }
}
        
.takeMoney {
    position: relative;
    height: 2rem;
}

.takeMoney::before {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    content: "";
    border: 80px solid transparent;
    border-top: 20px solid #ff0000;
}

.giveMoneyBox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    color: rgb(66, 39, 28);
    background-color: rgb(255, 228, 181);
    border: 3px double rgb(66, 39, 28);
}

[src $= "rub.jpg"] {
    z-index: 20;
    cursor: pointer;
    filter: contrast(1.2);
}

[src $= "rub.jpg"]:active {
    filter: contrast(1.5);
}

[src $= "rub.png"] {
    position: absolute;
    width: 50px;
    cursor: pointer;
}

.fa-2x {
    color: rgb(66, 39, 28);
}

